<h1>Products</h1>
{{#each products}}
  <div>
    <p> {{this.title}} </p>
    <p> {{this.description}} </p>
    <p> {{this.price}} </p>
    <p> {{this.code}} </p>
    <p> {{this.stock}} </p>
    <p> {{this.category}} </p>
    <button onclick="postToCart('{{this._id}}')">add to cart</button>
  </div>
{{/each}}
<script src="js/products.js" ></script>